.container{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:linear-gradient(135deg,#e6ccff,#f3e6ff);
}

.card{
background:white;
padding:40px;
border-radius:15px;
width:300px;
box-shadow:0 10px 25px rgba(0,0,0,0.1);
text-align:center;
}

h2{
color:#7c4dff;
}

input{
width:100%;
padding:10px;
margin:10px 0;
border-radius:8px;
border:1px solid #ccc;
}

button{
width:100%;
padding:10px;
background:#caa6ff;
border:none;
border-radius:8px;
color:white;
font-weight:bold;
cursor:pointer;
}

button:hover{
background:#b388ff;
}

a{
color:#7c4dff;
text-decoration:none;
}